axoniq.axonserver.autocluster.first=axonserver-1
axoniq.axonserver.autocluster.contexts=_admin,default

axoniq.axonserver.accesscontrol.enabled=true
axoniq.axonserver.accesscontrol.internal-token=__INTERNAL_TOKEN__
axoniq.axonserver.accesscontrol.systemtokenfile=/axonserver/config/axonserver.token
